<section class="text">
  <div class="container">
    <div class="text__head">
      Что вы получите после курса
    </div>
    <ul class="list-reset text__list">
      <li class="text__item">
        <div class="text__title">Удостоверение</div>
        <div class="text__text">Дающее право преподавать робототехнику для детей 6-12 лет в образовательных учреждениях</div>
      </li>
      <li class="text__item">
        <div class="text__title">Знания</div>
        <div class="text__text">По основам разработки учебно-методических комплексов
          по робототехнике и программированию</div>
      </li>
      <li class="text__item">
        <div class="text__title">Практику
          <span class="tooltip">
            <button class=" btn-reset tooltip__btn" aria-describedby="practice">

            </button>
            <span class="tooltip__txt" role="tooltip" id="practice">
              <span class="visually-hidden">Тултип:</span>
                При наличии свободных мест
            </span>
          </span>
        </div>
        <div class="text__text">Возможность пройти практику по преподаванию робототехники на базе R:ED LAB (в оффлайн или онлайн формате)</div>
      </li>
    </ul>
  </div>
</section>
